.Image {
  font-size: 14px;

  padding: 10px;
  /* border: 1px solid #333; */
  /* box-shadow: 0px 0px 10px #ddd; */
}

.Image img {
  max-height: 75vh;
  max-width: 100%;
  overflow: hidden;
}

.ImgContainer {
  display: flex;
  justify-content: center;
}

.Caption {
  margin-top: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 2em;
  color: #333;
}
