.ControlsWrapper {
    /* border-right: 10px solid transparent; */
    flex: 0 1 60px;
    /* padding: 0 1em; */
    visibility: hidden;
    transition: 1s border-color ease-in-out;

    height: 0px;;
    cursor: pointer;

    position: sticky;
    top: 50px;

    z-index: 20;
}

@media screen and (min-width: 800px){
    .ControlsWrapper{
        padding-right: 1em;
    }
}

.Controls{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ControlsFrame{
    border: 3px solid transparent;
    border-radius: 3px;
}

.ControlsFrame:hover{
    /* border-color: teal; */
    box-shadow: 0px 0px 10px gray;

}

/* .InFocus .ControlsWrapper, */
/* .Block:focus .ControlsWrapper */
.Block:hover .ControlsWrapper 
{
    visibility: unset;
}

.Block:focus{
outline: none;
}

/* .Block:focus .BlockWrapper{
    outline: medium
} */

.BlockWrapper {
    flex: auto;


    border-left: 10px solid transparent;
    /* padding-left: 10px; */
}
.Block {
    margin: 30px 0px;
    /* padding-left: 10px; */
    /* border-left: 10px solid transparent; */
    display: flex;
    line-height: 2em;
    font-size: 19px;
}

/* 
.Block:focus .BlockWrapper,
.Block:focus .ControlsWrapper {
    border-color: gray;
} */

.InFocus.Block .BlockWrapper,
.InFocus.Block .ControlsWrapper {
    border-color: lightblue;
}

.Block:hover .BlockWrapper,
.Block:hover .ControlsWrapper {
    border-color: lightgray;
}

.Block[data-blocktype="footnoteParagraph"]:hover .BlockWrapper,
.Block[data-blocktype="footnoteParagraph"] .ControlsWrapper {
    border-color: orangered;
}




