.HeaderArea {
  /* background-color: green; */
  background-color: white;
  display: flex;
  /* height: 60px; */
  overflow: hidden;
  /* box-shadow: 0px 0px 10px gray; */
  /* border-bottom: 1px solid black; */

  /* background-color: #222; */
}

.HeaderArea.Collapse {
  /* background-color: red; */
}

.ControlsContainer {
  /* flex: 0 0 200px; */
  /* position: sticky;
    align-self: flex-end;
    top: 0; */
}

.MetaContainer {
  flex: 1;
  padding: 0 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ThumbnailContainer {
  flex: 0 0 300px;
  /* height: 200px; */
  border: 1px solid gray;
  /* background: gray; */
}

.MetaArea {
  display: flex;
  margin-bottom: 1em;
}

.MetaArea .MetaItem {
  padding-right: 10px;
  /* border: 1px solid red; */
}

.Collapse .Title {
  font-size: 0.75em;
  transition: font-size 0.2s ease-in;
}

.Title {
  font-size: 1.2em;
  /* border: 1px solid red; */
}
