.CenterColumn {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.IndexHeader {
  margin: 60px 0;
  padding: 0 10px;
}

.IndexHeader .Title {
  margin-bottom: 16px;
}

@media all and (max-width: 1000px) {
  .IndexPage {
    padding: 20px;
  }
}

.ItemListContainer {
  display: flex;
  flex-wrap: wrap;
}

.IndexItemContainer {
  flex: 1 0 50%;
}

@media all and (max-width: 1000px) {
  .IndexItemContainer {
    flex: 0 0 100%;
  }
}
