.Viewer {
  position: relative;
}

.SuperTitle {
  font-size: 20px;
  text-transform: uppercase;
}

.ContentBodyContainer {
  background-color: white;
  position: relative;
  z-index: 10;
  /* top: 33vh; */
  top: 75px;
  left: 0;
  bottom: 0;
  right: 0;

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.HeaderAreaContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  border-top: 1px solid white;
  background-color: white;
  /* box-shadow: 0px 0px 6px #999; */
  height: 22px;

  /* prevent from taking more than one line*/
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #222;
}

.SplashTitleContainer {
  position: relative;
  z-index: 40;
}

/* .HeaderAreaContainer {
    position: sticky;
    top: 0;
} */

.SplashTitleContainer {
  position: relative;
  height: 50vh;
  overflow: hidden;
  box-sizing: border-box;
  /* background-color: white;; */
  /* background-color: #222; */
  /* box-shadow: 0px 0px 10px gray; */
}

.SplashBackgroundVideoContainer {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.SplashBackgroundVideo {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 800px;
  max-height: 100%;
  height: 100%;
}

.SplashTitleTail {
  height: 80px;
  background: white;
  /* background-color:white; */
  /* background: linear-gradient(red 0%, orange 25%, yellow 50%, green 75%, blue 100%); */
  /* background: linear-gradient(white 0%, transparent 100%); */
  /* background: linear-gradient(transparent 0%, white 100%); */
  /* background: linear-gradient(45deg, transparent 0%, white 100%); */

  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */

  /* background: linear-gradient(white 0%, transparent 100%) */
}

.SplashTitle {
  position: relative;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 1em; */
  /* color: #222; */
  color: white;
  height: 100%;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 9px black;
}

.Gradient {
  position: absolute;
  z-index: 100;
  top: 0;
  left: calc(50% - 400px);
  right: calc(50% - 400px);
  bottom: 0;

  background-image: linear-gradient(
    to right,
    black 10%,
    rgba(0, 0, 0, 0.1) 49%,
    rgba(0, 0, 0, 0.1) 51%,
    black 90%
  );

  /* background-image: linear-gradient(
    to right,
    black 10%,
    transparent 33%,
    transparent 66%,
    black 90%
  ); */
}

.SplashTitle h1 {
  font-weight: normal;
  margin: 0px;
  /* color: white; */
  line-height: 1.4em;
  font-size: 1em;
  margin-bottom: 1em;
  color: white;
}

.SplashTitleContainer .SplashMetaDivider {
  height: 10px;
  background-color: white;
  /* width: 50%; */
}

@media screen and (max-height: 400px) {
  .SplashTitle {
    font-size: 20px;
  }
  .SuperTitle,
  .SplashMeta {
    font-size: 14px;
  }
}

@media screen and (min-height: 400px) and (max-height: 600px) {
  .SplashTitle {
    font-size: 30px;
  }
  .SuperTitle,
  .SplashMeta {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) and (min-height: 600px) {
  .Gradient {
    background-image: linear-gradient(
      to right,
      black 10%,
      rgba(0, 0, 0, 0.5) 49%,
      rgba(0, 0, 0, 0.5) 51%,
      black 90%
    );
  }

  .SplashTitle {
    font-size: 30px;
  }
  .SplashMeta {
    font-size: 20px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) and (min-height: 600px) {
  .SplashTitle {
    font-size: 40px;
  }

  .SplashMeta {
    font-size: 20px;
  }
}

@media screen and (min-width: 601px) and (min-height: 600px) {
  .SplashTitle {
    font-size: 50px;
  }

  .SplashMeta {
    font-size: 20px;
  }
}

/* @media screen and (min-width: 801px) {
  .SplashTitle {
    font-size: 60px;
  }

  .SplashMeta {
    font-size: 30px;
  }
} */

/* @media screen and (min-width: 1000px) {
  .SplashTitle {
    font-size: 72px;
  }

  .SplashTitle h1 {
    max-width: 600px;
  }

  .SplashMeta {
    font-size: 30px;
  }
} */
