.Footnote {
    background-color: beige;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
}

.NavButtonTray{
    flex: 0 0 80px;
    display: flex;
    justify-content: flex-end;
}

.NavButtonTray button {
    width: 40px;
    height: 40px;
    background-color: tan;
    border: none;
    color: white;
    font-size: 20px;
    opacity: 1;
    transition: 1s opacity;
}

.NavButtonTray button:hover{
    background-color: orangered;
    transition: background-color 0.5s;
    cursor: pointer;
}

.NavButtonTray button:disabled{
    opacity: 0;
    display: none;
    width: 0px;
}

.ButtonTray{
    /* display: none; */
    display: flex;
    justify-content: flex-end;
    line-height: unset;
}

/* .ContentArea{
    overflow: hidden;
} */

.FootnoteTextGroup {
    display: flex;
    /* overflow: hidden; */
    /* padding: 1em; */
    box-sizing: border-box;
}

.FootnoteLabel {
    /* font-weight: lighter; */
    /* padding: 0 1em; */
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    top: 0;
    left: 0px;
    height: auto;
    background-color: tan;
    color: white;
    font-weight: 500;
}

[data-blocktype="footnoteParagraph"]:hover .FootnoteLabel{
    background-color: orangered;
    transition: background-color 1s;
    color: white;

}

.FootnoteText {
    flex: 1;
    padding-right: 1em;
    padding-left: 1em;
}