.Footnote {
    background-color: beige;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
}

.ButtonTray{
    display: flex;
    justify-content: flex-end;
    line-height: unset;
}

/* .ContentArea{
    overflow: hidden;
} */

.FootnoteTextGroup {
    display: flex;
    overflow: hidden;
    /* padding: 1em; */
    box-sizing: border-box;
}

.FootnoteLabel {
    /* font-weight: lighter; */
    padding: 0 1em;
}

.FootnoteText {
    padding-right: 1em;
}