.Footnote {
    background-color: beige;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
}

.ButtonTray{
    display: flex;
    justify-content: flex-end;
    line-height: unset;
}

.ContentArea{
    overflow: hidden;
}

