/* .ControlButtonWrapper {
    position: relative;
} */
.ControlButton {
  position: relative;
  background-color: white;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 11px;
  /* 
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat; */
}

.Icon {
  /* width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ControlButton:hover {
  fill: orangered;
  color: orangered;
}

.ControlButton .HoverText {
  display: inline-block;
  position: absolute;
  font-size: 11px;
  top: calc(50% - 11px);
  left: 44px;
  white-space: pre;
  pointer-events: none;
  visibility: hidden;
  padding: 4px 6px;
  background-color: #333;
  color: white;
  border-radius: 3px;
}

.ControlButton:hover .HoverText {
  visibility: visible;
}
