.EssayIndexItem {
  margin: 6px 0px;

  display: flex;
}

/* .EssayIndexItem:hover {
  background-color: #efefef;
} */

.ThumbnailArea {
  flex: 0 0 320px;
}

.TextArea {
  flex: 1 1 1;
}

.ThumbnailArea {
  overflow: hidden;
}

.ThumbnailArea video {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: contain;
  border: 1px solid #222;
}

.TextArea {
  padding: 0 33px;
}

a.EssayIndexItem {
  text-decoration: none;
  color: inherit;
}

a:hover.EssayIndexItem {
  color: #0d99ab;
}

.TextArea .Title {
  font-size: 30px;
  font-weight: normal;
}

.TextArea {
  font-size: 14px;
}

.SuperTitle {
  text-transform: uppercase;
}
