.EssayIndexItem{
    margin: 6px 0px;
    
    display: flex;
}

.EssayIndexItem:hover{
    background-color: #efefef;
}

.ThumbnailArea {
    flex: 0 0 320px;

}

.TextArea {
    flex: 1 1 1;
}

.ThumbnailArea {
    overflow: hidden;
}

.ThumbnailArea video {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: contain;
}

.TextArea {
    padding: 0 1em;
}