.ControlBar {
  background-color: #efefef;
  /* position: -webkit-sticky; /* Safari * /
    position: sticky; */
  /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */

  /* display: flex; */
}

.ControlBar h1 {
  font-size: 28px;
  font-weight: normal;
}
